::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem vertical */
  height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
  background-color: #777; /* Cor da parte arrastável ou #333 */
  border-radius: 4px; /* Bordas arredondadas */
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Estilo geral do corpo */
body {
  font-family: 'Arial', sans-serif;
  background-color: #141414; /* Fundo escuro para o site */
  color: #fff; /* Texto branco */
  line-height: 1.6;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #F8f8FF;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 80px;
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header img{
  width: 150px;
  height: 80px;
  background-color: #F8f8FF;
  margin-left: 30px;
}

.Auth_Section{
  margin-right: 30px;
}

.Auth_Section a{
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: none;
  color: #141414;
  padding: 10px;
  border-radius: 10px;
}

.Sign_Up{
  border: 1px solid #e50914;
  background-color: #e50914;
  opacity: 0.8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.Sign_Up:hover{
  opacity: 1;
  background-color: #e50914
}

.Sign_In{
  opacity: 0.6;
}

.Sign_In:hover{
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: #e50914;
}


/* Menu lateral */
.menu-lateral {
  margin-top: 100px;
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.menu-lateral h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 30px;
  color: #e50914; /* Cor vermelha da Netflix */
}

.menu-lateral nav ul {
  list-style: none;
  margin-top: 30px;
}

.menu-lateral nav ul li {
  margin: 20px 0;
}

.menu-lateral nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: color 0.3s ease;
  user-select: none;
}

.menu-lateral nav ul li a:hover {
  color: #e50914; /* Cor vermelha da Netflix ao passar o mouse */
}

/* Estilo do conteúdo principal */
main {
  margin-top: 100px;
  margin-left: 270px; /* Deixa espaço para o menu lateral */
  padding: 20px;
}

h1 {
  font-size: 3em;
  color: #e50914; /* Cor vermelha da Netflix */
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

/* Estilo para a seção de filmes */
.containers_categories {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); /* Grid responsivo */
  gap: 20px;
}

.container{
  /* background-color: #333; possivel cor de fundo das seções*/
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.container:hover{
 /* background-color: #555;  Cor mais clara ao passar o mouse */
  cursor: pointer;
}

.container_title{
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: larger;
}

.cards_filmes{
  display: flex;
  gap: 20px;
  padding: 15px;
  flex-direction: row;
  overflow-x: scroll;
}


/* Estilo geral do card */
.card_filme {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: 250px;
  min-height: 320px;
  height: auto;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden; /* Garante que a borda arredondada é aplicada */
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.6;
}

.card_filme:hover{
  opacity: 1.0;
}

/* Container da imagem */
.imagem-container {
  position: relative;
  width: 100%;
  height: 200px; /* Defina a altura da imagem */
  cursor: default;
}

/* Estilo para a imagem do filme */
.imagem-filme {
  width: 100%;
  object-fit: fill; /* Cobre o container sem distorcer a imagem */
}

/* Botão de Play */
.play-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  width: 50px; /* Tamanho do ícone de play */
  cursor: pointer;
  transition: opacity 0.3s ease; /* Efeito de transição para o hover */
  opacity: 0.6; /* Deixa o ícone de play um pouco transparente */
}

/* Efeito de hover no botão de Play */
.play-button:hover {
  opacity: 1; /* Aumenta a opacidade do ícone ao passar o mouse */
}

/* Descrição do filme */
.card_filme p {
  z-index: 1;
  height: 80px;
  margin-top: 5px;
  text-align: justify;
  font-size: 10px;
  overflow: hidden;     /* Oculta o texto que ultrapassa a largura definida */
  text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto */
  color: #ddd; /* Texto da descrição em uma cor mais suave */
}


/* AREA DO CARD DO FILME */
.container_filme{
  display: flex;
  width: 800px;
  height: 480px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  background-color: #222;
}

.icon_home{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: #333;
  opacity: 0.7;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  text-align: center;
  cursor: pointer;
}

.icon_home:hover{
  background-color: #e50914;
  opacity: 1.0;
}

.icon_home img{
  height: 100%;
  width: 100%;
}

.imagem_filme_details{
  width: 400px;
  height: 100%;
  min-width: 400px;
  border-radius: 30px;
  object-fit: fill;
}

.detalhes_filme{
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.title_filme{
  font-weight: 900;
  font-size: x-large;
  text-transform: uppercase;
}

.title_sinopse{
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: medium;
}

.description_sinopse{
  height: auto;
  font-size: small;
  max-height: 30px;
  text-transform: lowercase;
  line-height: 1.5;
}

.description_sinopse::first-letter{
  font-size: x-large;
  text-transform: uppercase;
}


.title_elenco{
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: medium;
}

.description_elenco{
  height: auto;
  font-size: small;
  max-height: 30px;
  text-transform: lowercase;
  line-height: 1.5;
}


.button_watch{
  text-align: center;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e50914;
  text-decoration: none;
  margin-top: 40px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.button_watch:hover{
  opacity: 1.0;
}

/* Footer */
footer {
  background-color: #141414;
  height: 50px;
  max-height: 50px;
  padding-top: 10px;
  text-align: center;
  color: #777;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  margin-left: 150px;
}
